body{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
.main{
    width: 1024px;
    height:768px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
}

/*澶撮*/
.header{
    height: 35px;
    background-color: #777;
}
.header>ul{
    margin-top: 4px;
    position: absolute;
    left:701px;
}
.header>ul,.header>ul>li{
    float: left;
}
.header>ul>li>a{
    color: #ffffff;
    font:12px 'Microsoft YaHei';
    border-right: 1px solid #ffffff;
    padding: 0px 11px;
}
.header>ul>li.help>a{
    border-right:none;
}


.mian_bg{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index:0;
}
.logo{
    margin-left: 339px;
    margin-top: 70px;
}

.return_btn{
    position: absolute;
    left: 17px;
    top: 5px;
}
.return_btn a{
    font: 15px 'Microsoft YaHei';
    color: white;
}
.banner{
    height: 200px;
}
/*  输入手机号  */
.input_tel_content{
    /*display: none;*/
}
.input_tel{
    width: 391px;
    margin: 0 auto;
}
.input_tel input{
    width: 391px;
    height: 60px;
    font: 15px 'Microsoft YaHei';
    /*line-height: 60px;*/
    color: #5abbf4;
    border: 1px solid #5cb4f2;
    border-radius: 4px;
    padding: 0 0 0 10px;
}
.input_tel_next,.finish{
    width: 391px;
    height: 57px;
    background-color: #4bacf1;
    border-radius: 4px;
    behavior: url(/resources/index/path/PIE.htc);
    color: white;
    font: 21px 'Microsoft YaHei';
    text-align: center;
    line-height: 57px;
    margin: 37px  auto;
    cursor: pointer;
}
.footer{
    font: 17px 'Microsoft YaHei';
    color:#666;
    /*margin-top: 262px;*/
    text-align: center;
    position: absolute;
    left: 335px;
    bottom:64px;
    z-index: 1;
    /*margin: 0 auto;*/
}
.footer div{
    width: 360px;
    margin: 5px auto;
}
.footer div span{
    color: #4bacf1;
}



/*  输入新密码  */
.input_password{
    display: none;
    z-index: 1;
}
.input_password input{
    color: #5abbf4;
}
.input_odd_pdw,.input_new_pdw,.send_message{
    width: 391px;
    margin: 0 auto;
}

.input_odd_pdw input,.input_new_pdw input{
    font: 15px 'Microsoft YaHei';
    width: 391px;
    height: 60px;
    border: 2px solid #5cb4f2;
    padding: 0 0 0 10px;
}
.input_odd_pdw input{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.input_new_pdw input{
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.send_message{
    height: 54px;
    font: 15px 'Microsoft YaHei';
    color: #999;
    line-height: 54px ;
    padding: 0 0 0 30px;
    margin: 0 auto;
}
.input_yzm{
    /*clear: both;*/
    width:391px;
    height: 60px;
    font: 15px 'Microsoft YaHei';
    color: #5abbf4;
    border: 2px solid #5cb4f2;
    border-radius: 4px;
    padding: 0 0 0 10px;
    position: relative;
    left: 315px;
    z-index: 1;
}
.input_yzm>div{
    float: left;
}
.input_yzm  input{
    width: 240px;
    height: 58px;
    border: none;
    font: 15px 'Microsoft YaHei';
    color: #5abbf4;
    margin: 0 5px 0 0;
}
.send_again_btn{
    width: 141px;
    height: 42px;
    border-radius: 4px;
    color: white;
    font:15px 'Microsoft YaHei';
    text-align: center;
    line-height: 42px;
    margin: 10px 0;
}
.send_again_btn input{
    width: 141px;
    height: 42px;
    background-color: #4bacf1;
    border-radius: 4px;
    color: white;
    font:15px 'Microsoft YaHei';
    text-align: center;
    line-height: 42px;
}
.input_wrong{
    clear: both;
    width: 391px;
    height: 44px;
    padding: 0 0 0 30px;
    font: 15px 'Microsoft YaHei';
    color: #cc0000;
    line-height: 44px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.finish{
    margin: 0 auto;
    position: relative;
    z-index: 1;
}


/*  完成弹窗  */
.finish_bg{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:3;
    -moz-opacity: 0.6;
    opacity:.60;
    filter: alpha(opacity=60);
}
.finish_content{
    display: none;
    width: 391px;
    height: 226px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -113px -195px;
    background-color: white;
    z-index:4;
    border-radius: 29px;
    behavior: url(/resources/index/path/PIE.htc);
}
.finish_img{
    width: 51px;
    height: 51px;
    margin: 27px auto;
}
.finish_wn_zi{
    width: 100%;
    height: 60px;
    font: 26px 'Microsoft YaHei';
    text-align: center;
}
.finish_btn{
    width: 100px;
    height: 30px;
    background-color: #4bacf1;
    text-align: center;
    border-radius: 4px;
    behavior: url(/resources/index/path/PIE.htc);
    margin: 0 auto;
}
.finish_btn a{
    width: 100px;
    height: 30px;
    color: white;
    font: 18px 'Microsoft YaHei';
    line-height: 30px;
    display: block;

}