<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.tool.turningHolder.dao.TurningHolderMapper">
  	
  	
  	<!-- 查询车刀数据-刀柄列表   -->
	<select id="queryTurningHolderList"   parameterType="com.qf.util.PageData"  resultType="java.util.HashMap">
		select id_TurningHolder, NumberTurningHolder, NameTurningHolder, TypeTurningHolder, ISOBladeTurning
			 , TypeBlade, DiameterTurningHolder, CompanyTurningHolder, FeatureTurningHolder, TypeCustomTurningHolder, TypeCustomBlade
		from TurningHolder
		where 1 = 1
		<if test="NumberTurningHolder !=null  and NumberTurningHolder !='' "> and NumberTurningHolder like '%${NumberTurningHolder}%'</if>
		<if test="NameTurningHolder !=null  and NameTurningHolder !='' "> and NameTurningHolder like '%${NameTurningHolder}%'</if>
		<if test="TypeTurningHolder !=null  and TypeTurningHolder !='' "> and TypeTurningHolder = #{TypeTurningHolder}</if>
		<if test="ISOBladeTurning !=null  and ISOBladeTurning !='' "> and ISOBladeTurning like '%${ISOBladeTurning}%'</if>
		<if test="TypeBlade !=null  and TypeBlade !='' "> and TypeBlade = #{TypeBlade}</if>
		<if test="DiameterTurningHolder !=null  and DiameterTurningHolder !='' "> and DiameterTurningHolder like '%${DiameterTurningHolder}%'</if>
		<if test="CompanyTurningHolder !=null  and CompanyTurningHolder !='' "> and CompanyTurningHolder like '%${CompanyTurningHolder}%'</if>
		order by id_TurningHolder desc
	</select>
	
	<!--  查询刀柄图片列表 PictureTurningHolder  -->
	<select id="queryPictureTurningHolderList"   parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		select id_PictureTurningHolder, id_TurningHolder, url_PictureTurningHolder
		from PictureTurningHolder
		where id_TurningHolder = #{id_TurningHolder}
	</select>
	
	<!--  查询详细图片列表 PictureDetailTurningHolder  -->
	<select id="queryPictureDetailTurningHolderList"   parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		select id_PictureDetailTurningHolder, id_TurningHolder, url_PictureDetailTurningHolder
		from PictureDetailTurningHolder
		where id_TurningHolder = #{id_TurningHolder}
	</select>
	
	<!--  查询详细信息列表 InformDetailTurningHolder  -->
	<select id="queryInformDetailTurningHolderList"   parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		select id_InformDetailTurningHolder, id_TurningHolder, url_InformDetailTurningHolder, name_InformDetailTurningHolder
		from InformDetailTurningHolder
		where id_TurningHolder = #{id_TurningHolder}
	</select>
	
	<!-- 查询车刀数据-刀柄数据   -->
	<select id="queryTurningHolderById"   parameterType="java.util.HashMap"  resultType="java.util.HashMap">
		select id_TurningHolder, NumberTurningHolder, NameTurningHolder, TypeTurningHolder, ISOBladeTurning
			 , TypeBlade, DiameterTurningHolder, CompanyTurningHolder, FeatureTurningHolder, TypeCustomTurningHolder, TypeCustomBlade 
		from TurningHolder
		where id_TurningHolder = #{id_TurningHolder}
	</select>
	
	<!--  修改   -->
	<update id="updateTurningHolder" parameterType="java.util.HashMap">
		update TurningHolder
	    	<set> 
	    		NumberTurningHolder = #{NumberTurningHolder},
	    		NameTurningHolder = #{NameTurningHolder},
	    		TypeTurningHolder = #{TypeTurningHolder},
	    		ISOBladeTurning = #{ISOBladeTurning},
	    		TypeBlade = #{TypeBlade},
	    		DiameterTurningHolder = #{DiameterTurningHolder},
	    		CompanyTurningHolder = #{CompanyTurningHolder},
	    		FeatureTurningHolder = #{FeatureTurningHolder},
	    		add_time = #{add_time},
	    		user_id = #{user_id},
	    		TypeCustomTurningHolder = #{TypeCustomTurningHolder},
	    		TypeCustomBlade = #{TypeCustomBlade},
			</set>
		where id_TurningHolder = #{id_TurningHolder}
	</update>
	
	<!-- 新增   -->
	<insert id="saveTurningHolder" parameterType="java.util.HashMap" >
		<selectKey order="BEFORE" keyProperty="id_TurningHolder"  resultType="int">
    		select ifnull((select (id_TurningHolder+1) id_TurningHolder from TurningHolder order by id_TurningHolder desc limit 1) ,1) id_TurningHolder from dual
    	</selectKey>
	    insert into TurningHolder (
	    	id_TurningHolder, NumberTurningHolder, NameTurningHolder, TypeTurningHolder, ISOBladeTurning, 
	    	TypeBlade, DiameterTurningHolder, CompanyTurningHolder, FeatureTurningHolder, add_time, user_id, 
	    	TypeCustomTurningHolder, TypeCustomBlade
        )
		values (  
			#{id_TurningHolder}, #{NumberTurningHolder}, #{NameTurningHolder}, #{TypeTurningHolder}, #{ISOBladeTurning}, 
	    	#{TypeBlade}, #{DiameterTurningHolder}, #{CompanyTurningHolder}, #{FeatureTurningHolder}, #{add_time}, #{user_id}, 
	    	#{TypeCustomTurningHolder}, #{TypeCustomBlade}
	    )
	</insert>
	
	<!-- 保存刀柄图片  -->
	<insert id="savePictureTurningHolder" parameterType="java.util.HashMap" >
	    insert into PictureTurningHolder (
			id_TurningHolder, url_PictureTurningHolder
        )
		values (  
			#{id_TurningHolder}, #{url_PictureTurningHolder}
		)
	</insert>
	
	<!-- 清空刀柄图片路径  -->
	<delete id="clearPictureTurningHolderByIdTurningHolder"   parameterType="java.util.HashMap">
    	delete from PictureTurningHolder
        where id_TurningHolder = #{id_TurningHolder}
    </delete>
	
    <!-- 保存详细图片  -->
	<insert id="savePictureDetailTurningHolder" parameterType="java.util.HashMap" >
	    insert into PictureDetailTurningHolder (
			id_TurningHolder, url_PictureDetailTurningHolder
        )
		values (  
			#{id_TurningHolder}, #{url_PictureDetailTurningHolder}
		)
	</insert>
	
	<!-- 清空详细图片路径  -->
	<delete id="clearPictureDetailTurningHolderByIdTurningHolder"   parameterType="java.util.HashMap">
    	delete from PictureDetailTurningHolder
        where id_TurningHolder = #{id_TurningHolder}
    </delete>
    
    <!-- 保存详细信息  -->
	<insert id="saveInformDetailTurningHolder" parameterType="java.util.HashMap" >
	    insert into InformDetailTurningHolder (
			id_TurningHolder, url_InformDetailTurningHolder, name_InformDetailTurningHolder
        )
		values (  
			#{id_TurningHolder}, #{url_InformDetailTurningHolder}, #{name_InformDetailTurningHolder}
		)
	</insert>
	
	<!-- 清空详细信息路径  -->
	<delete id="clearInformDetailTurningHolderByIdTurningHolder"   parameterType="java.util.HashMap">
    	delete from InformDetailTurningHolder
        where id_TurningHolder = #{id_TurningHolder}
    </delete>
    
    
    
    <!-- 删除车刀数据-刀柄数据  -->
	<delete id="deleteTurningHolder"   parameterType="java.util.HashMap">
    	delete from TurningHolder
        where id_TurningHolder = #{id_TurningHolder}
    </delete>

	<!--  查询ISO基准刀片 json   -->
	<select id="queryISOList"   parameterType="java.util.HashMap"  resultType="string">
		select ISOBladeTurning from TurningBlade
	</select>
	
	
</mapper>