<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.productionManage.MachineUseRecord.dao.MachineUseRecordMapper">

	<!-- 查询机床列表   -->
	<select id="queryMachineUseRecordList"   parameterType="com.qf.util.PageData"  resultType="java.util.HashMap">
		select * 
		from MachineUseRecord
		where 1 = 1
		<if test="NumberMachGrNode !=null  and NumberMachGrNode !='' "> and NumberMachGrNode like '%${NumberMachGrNode}%'</if>
		<if test="DateStartManufGr !=null and DateStartManufGr !='' "> and DateStartManufGr like '%${DateStartManufGr}%'</if>
		<if test="DateFinishManufGr !=null  and DateFinishManufGr !='' "> and DateFinishManufGr like '%${DateFinishManufGr}%'</if>
		order by id_MachineUseRecord desc
	</select>







</mapper>