@charset "utf-8";
.main{
   padding:0 0 55px 0;
}
#sec_wzxx{
	border-bottom: 2px solid #069dd5;
}
#shou_ye {
  border-bottom: none;
}
.user_choose  .user_choose_line{
	margin: 5px auto 0;
}
/*content*/
.infor_content{
    height: auto;
    position: relative;
    top:60px;
}
/*  personal  information  */
.personal_infor{
    width: 946px;
    margin: 30px  auto  0  auto;
    border: 1px solid #e9e9e9;
    position: relative;
    top:54px;
    padding: 0 0 0 24px;
    box-shadow: 0 0 4px 0.1px rgba(144, 144, 144, 0.6);
    behavior: url(/resources/index/path/PIE.htc);
    background-color:white;
}
.per_photo{
    width:110px;
    height: 110px;
    padding:5px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    margin:-31px 0 0 0;
    float: left;
}
.per_photo img{
    width: 100%;
    height: 100%;
}
.per_xx_infor{
    float: left;
    padding: 16px 0 0 34px;
}
.per_name{
    font: 20px 'Microsoft YaHei';
    color: #333;
    height: 35px;
}
.user_id,.user_name_addr{
    font: 14px 'Microsoft YaHei';
    color: #777;
    height:25px;
}
.user_name_addr div{
    float: left;
    padding-right: 80px;
}
.infor_right{
    float: right;
    padding: 30px 30px 0 0;
}
.infor_right div{
    float: left;
    margin-left: 20px;
}
.right_add_btn{
    width: 80px;
    height: 30px;
    background-color: #5abbf4;
    border-radius:4px ;
    behavior: url(path/PIE.htc);
    color: white;
    text-align: center;
    font: 16px 'Microsoft YaHei';
    line-height: 30px;
}
.right_er_wei_ma{
    margin-top:3px;
}
.user_per_jianjie{
    clear: both;
    width: 925px;
    padding: 5px 0 10px 0;
    line-height: 25px;
}
.infor_ewm_big{
	width:104px;
	height:115px;
	background:url("../../images/userinfo/infor_ewm_big.png") no-repeat;
    position: absolute;
    top:55px;
    right:-11px;
    display: none; 
    z-index:10;
}
.infor_ewm_big_xx{
	width:84px;
	height:84px;
	margin:20px 0 0 10px;
}
.right_er_wei_ma:hover .infor_ewm_big{
    display: block;
}

/*私人墓园*/
.srmy_cont{
    width: 970px;
    height: 206px;
    margin: 30px  auto  0  auto;
    border: 1px solid #e9e9e9;
    position: relative;
    top:40px;
    padding: 14px 0 0 0;
    font: 16px 'Microsoft YaHei';
    color: #333;
    box-shadow: 0 0 4px 0.1px rgba(144, 144, 144, 0.6);
    behavior: url(/resources/index/path/PIE.htc);
    background-color:white;
}
.srmy_blue{
    width: 3px;
    height: 16px;
    background-color: #5abbf4;
    float: left;
    margin-right: 7px;
}
.srmy_title{
    font-weight: bold;
    height:35px;
    line-height:15px;
    margin-left: 30px;
}
.pre,.next{
   position: absolute;
    top:95px ;
}
.pre{
    left:5px;
}
.next{
    right: 5px;
}
/* 每一个图片+信息 */
.srmy_container,.lf_container,.wish_tree_container{
    width: 945px;
    height:156px ;
    position: relative;
    overflow: hidden;
}
.srmy_container>div,.lf_container>div,.wish_tree_container>div{
    float: left;
    margin-right: 36px;
}
.srmy_container>div>img,.lf_container>div>img,.wish_tree_container>div>img{
    width: 200px;
    height: 125px;
    margin-bottom: 8px;
}
.my_img_infor{
    width: 200px;
}
.my_name{
    float: left;
    font: 14px 'Microsoft YaHei';
    color: #333;
    margin-left: 8px;
}
.my_num{
    float: right;
    font: 12px 'Microsoft YaHei';
    color: #777;
    margin-right: 8px;
}

/*宗祠族谱*/
.zczp_title{
    font-weight: bold;
    height:25px;
    line-height:15px;
}
.zczp{
    width: 940px;
    height: auto;
    margin: 30px  auto  0  auto;
    border: 1px solid #e9e9e9;
    position: relative;
    top:30px;
    padding: 14px 0 0 30px;
    font: 16px 'Microsoft YaHei';
    color: #333;
    box-shadow: 0 0 4px 0.1px rgba(144, 144, 144, 0.6);
    behavior: url(/resources/index/path/PIE.htc);
    background-color:white;
}
.zczp_cont{
    width: 910px;
    height: 137px;
    padding: 12px 0 0 10px;
    border-bottom: 1px dotted #d8e0e4;
}
.zczp_img{
    width: 200px;
    height: 125px;
    float: left;
}
/*右侧内容信息*/
.zczp_right_cont{
    float: left;
    padding: 18px 0 0 29px;
    font: 14px 'Microsoft YaHei';
    color: #777;
}
.zczp_right_cont>div{
    height: 39px;
    clear: both;
}
.zczp_name{
    font: bold 16px 'Microsoft YaHei';
    line-height: 15px;
    color: #333;
}
.zczp_name>div{
    float: left;
    margin-right:20px;
}
.zczp_name>div>img{
    margin-top: -3px;
}
.zczp_detail_infor>div{
    float: left;
}
.zczp_detail_infor>div>div{
    height: 40px;
}
.zczp_detail_left{
    width: 246px;
}
.zczp_detail_center{
    width: 240px;
}
.zczp_detail_right{
    width: 185px;
}

/*礼佛园区*/
.li_fo_area,.wish_tree,.article_miss{
    width: 970px;
    height: 206px;
    margin: 0  auto;
    border: 1px solid #e9e9e9;
    position: relative;
    top:50px;
    padding: 14px 0 0 0;
    font: 16px 'Microsoft YaHei';
    color: #333;
    box-shadow: 0 0 4px 0.1px rgba(144, 144, 144, 0.6);
    behavior: url(/resources/index/path/PIE.htc);
    background-color:white;
}
.lfyq_img_infor{
    width: 200px;
    text-align: center;
    font: 14px 'Microsoft YaHei';
    color: #333;
}
.article_miss{
    width: 940px;
}
/*许愿树*/
.wish_tree{
    top:70px;
}

/*文集追思*/
.article_miss{
    top: 90px;
    height: auto;
    padding:14px 0 0 30px;
}
.article_title{
    font-weight: bold;
    line-height:15px;
    width: 910px;
    height: 36px;
    /*padding-left: 30px;*/
    border-bottom: 1px solid #eee;
}
.article_ul{
    clear: both;
    margin: 0;
    padding: 0;
    width: 910px;
    height: 34px;
    border-bottom: 1px solid #eee;
}
.article_ul li{
    float: left;
    list-style: none;
    height: 34px;
    font: 14px 'Microsoft YaHei';
    line-height: 34px;
    color: #b5b5b6;
}
.article_list_1{
    width:37px;
    padding:0 0 0 11px;
}
.article_list_1 img{
    margin-top: 7px;
}
.article_list_2{
    width: 485px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.article_list_3{
    width: 290px;
    text-align: right;
}
.article_list_4{
    width:80px;
    text-align: center;
}
#article_iframe{
	width:100%;
	height:410px;
	border:none;
}
.pagination{
	float:right; 
	padding:0 100px 0 0;
}
.pagination ul li{
	list-style:none;
	float:left;
	padding:5px 10px;
}

#article_iframe{
	border:none;
}

/*内容部分*/
.user_corpus_content{
    position: relative;
    margin-top:51px;
    width: 1280px;
    height: auto;
}

.content_list_img{
	width:100%;
	margin-top:35px;
	text-align:left;
}
.content_list_img>ul{ 
	list-style:none;
	margin:0;
	padding:0;
}
.content_list_img>ul>li{
	float:left;
	text-align:center;
	border:1px solid #d8e0e4;
	margin-right:8px;
	margin-bottom:10px;
}
.content_list_img>ul>li>img{
	border:none;
	width:152px;
	height:95px;
}
/* 图片名称*/
.content_list_img>ul>li a{
	color:#333;
	cursor:pointer;
}
.content_list_img>ul>li a .name{
	line-height:35px;
	height:40px;
	cursor:pointer;	
}

.content_list_img>ul>li a .name:hover{ 
	text-decoration:underline;
	color:#43a5de;
	cursor:pointer;
}

/* text*/	
.content_list_text{
	 width:655px; 
}
.content_list_text>ul{ 
	list-style:none;
	margin:0;
	padding:0;
}
.content_list_text>ul>li{
	list-style:none;
	margin-top:20px;
	border-bottom:1px solid #d8e0e4;
	padding-bottom:10px;
	*height:130px;
}
/* 左侧icon 图 box*/
.content_list_text .box_img{
	width:100px;
	height:100px;
	float:left;
	display:block;
}
/* 右侧 文字box*/
.content_list_text .box_text{
	width:600px;
	height:110px;
	text-align:left;
 }
/* 标题链接*/
.content_list_text .box_text .title{
	line-height:16px;
	color:#069dd5;
	font-size:14px;
	font-weight:bold;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
 }
.content_list_text .box_text .title:hover{ 
	text-decoration:underline;
}
/* 文字段落*/
.content_list_text .box_text p{
	width:600px;
	height:50px;
	font-size:14px;
	line-height:25px;
	text-align:left;
	color:#777;
}
/* 所属 蓝色 */
.content_list_text .box_text .blue{ 
	 padding:0 50px 0 0;
	 text-align:left;
	 color:#069dd5;
	 float:left;
	 cursor:pointer;
}
/* 时间*/
.content_list_text .box_text .time{ 
	 text-align:left;
	 color:#777;
	 float:left;
	 padding-right:20px;
}

/* img+text*/	
.content_list_imgtext{
	 width:655px; 
}
.content_list_imgtext>ul{ 
	list-style:none;
	margin:0;
	padding:0;}
.content_list_imgtext>ul>li{
	list-style:none;
	margin-top:20px;
	border-bottom:1px solid #d8e0e4;
	height:120px; 
}
/* 左图box*/
.content_list_imgtext .box_img{
	display:block;
	width:100px; 
	height:100px;
	float:left;
}
.content_list_imgtext .box_img img{
	width:78px;
	height:78px;
}
/* 右侧 文字box*/
.content_list_imgtext .box_text{
	width:555px;
	 height:110px; 
	float:left;
}
/* 标题链接*/
.content_list_imgtext .box_text .title a{
	line-height:16px;
	color:#02a0e9;
	 font-size:14px;
	 font-weight:bold;
}
.content_list_imgtext .box_text .title:hover{
	text-decoration:underline;
}
/* 文字段落*/
.content_list_imgtext .box_text div.box_content{ 
	clear:both;
	width:555px; 
	height:50px;
	font-size:14px;
	 line-height:25px;
	text-align:left;
	 color:#777;
	 padding:0 0 0 10px;
}
/* 所属 蓝色 */
.content_list_imgtext .box_text .blue{ 
	width:140px; 
	text-align:left;
	 color:#43a5de;
	 float:left;
	 cursor:pointer;
}
/* 时间*/
.content_list_imgtext .box_text .time{ 
	width:140px;
	 text-align:left;
	 color:#777;
	 float:left;
	 padding:0 0 0 10px;
}

/* table*/
.content_list_table .table_title{
	font-weight:bold;
	line-height:35px;
	height:35px;}
.content_list_table .table_title a{border:none;
	color:#000}
.content_list_table{
	 width:655px; 
}
/* 表格 背景图 */
.content_list_table .bg1{ background:#f7f7f7;/*f1f8fe;*/}
.content_list_table>ul{ 
	list-style:none;
	margin:0;
	padding:0;
}
.content_list_table>ul>a{
	display:block;
	width:100%;
	list-style:none;
	border-top:1px solid #eee;
	clear:both;
}
.content_list_table>ul>a>li{
	list-style:none;
	 line-height:30px; height:30px;
	 display:inline-table;
	 float:left;
	 width:80px;
}

/* 表格的 4列 如有添加可调整百分比 */
.content_list_table>ul>a .ji_si_log{
	width:22px;
	height:18px;
	margin:10px;
	vertical-align:middle;
	line-height:30px;
}
	
.content_list_table>ul>a .js_name{
	width:150px;padding-right:20px;
	display:block;overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}/* 截字 display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap; */

.content_list_table>ul>a .js_goods{ width:30%;}
.content_list_table>ul>a .js_date{
	width:120px;
	text-align:center;padding-right:30px;float:right;
}

/*相册*/

/*内容最上边标题*/

.box_photo{
	padding-top:00px;
	padding-bottom:0;
	width:100%;
	height:auto;
	max-height:500px;
}
.big_photo{
	width:660px;
	height:auto;
	max-height:700px;
	margin:60px auto;
	text-align:center;
}
.photo_intro,.photo_sc_time{
	display:block;
	width:100%;
	text-align:center;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	font-size:12px;
	line-height:20px;
}

/* 照片 浏览 */
.big-photowrap img{
	max-width:400px;
	max-height:600px;
	text-align:center;
}
.big_photo img{
    width: 400px;
    height: 236px;
}
/* 照片 缩略图 */
.small-photowrap{
	width:660px;
	height:150px;
	padding:20px	0;
	background:#eee;position:relative;
	left:0;
	top:0;
	z-index:0;
}
/* 照片 小图模块 */
.small-photowrap .photo-nav{
	position:relative;
	width:582px;
	height:110px;
	overflow:hidden;
	margin-left:44px;
}
.small-photowrap .photo-nav ul{
	list-style:none;
	padding:0;
	margin:0;
}
.small-photowrap .photo-nav ul li{
    float:left;
	margin-right:10px;
	position:relative;
	list-style:none;
}
.img_hd  ul li p{
    width: 100%;
	height:20px;
	background:#777;
	color:#fff;
	font-size:12px;
	line-height:20px;text-align:center;
	position: absolute;
    top: 90px;
}
/* 左右方向 */
.small-photowrap .photo-slbtn{
	display:block;
	width:20px;
	height:34px;
	position:absolute;
	left:8px;
	top:55px;
	z-index:100;
	background: url(../images/images_photoalbum/photo_left.png) no-repeat;
}
.small-photowrap .photo-srbtn{
	display:block;
	width:20px;
	height: 34px;
	position: absolute;
	right:8px;
	top:55px;
	z-index:100;
	background: url(../images/images_photoalbum/photo_right.png) no-repeat;
}
.small-photowrap .photo-slbtn:hover{
	background: url(../images/images_photoalbum/photo_left_pre.png) no-repeat;
}
.small-photowrap .photo-srbtn:hover{
	background: url(../images/images_photoalbum/photo_right_pre.png) no-repeat;
}

/* 图像块*/
.right_container .box_img{
	display:block;
	width:230px;
	height:152px;
	border:1px solid #d8e0e4;
	padding:8px;
	background-color:#f7f7f7;
	margin:20px auto 10px auto;
}

/* 名字*/
.name_zc{
    display:block;
	width:100%;
	line-height:50px;
    height:40px;
	color:#333;
	text-align:center;
    font:bold 14px 'Microsoft YaHei';
}
/*分割虚线 */
.hr{
	 border-bottom:1px dashed #d8e0e4;
}
.hr2{
	 border-bottom:1px solid #d8e0e4;
}
.margin_b20{
	margin-bottom:20px;
}
/*信息 */
.information{
	width:100%;
	 border-color:#fff;
}
.information ul{
	border:none;
	 padding:20px 0 0px 30px
 }
.information li{
	width:300px;
	 float:left;
	 height:30px;
	 line-height:30px;
	 color:#2a95d4;
	}
.information li a{
	color:#2a95d4;
}
.information li em{
	 width: 100px;
	 display:inline-table;
	 font-style:normal;
	 font-weight:bold;
	 color:#333;
}
/*橙色 */
.orange,#orange{ color:#fd844e}
/* 数量总结 */
.box_number{
	background:#f1f8fe;
	 width:280px;
	 height:70px;
	 margin:15px auto;
} 
.box_number .ul{
	width:260px;
	 height:70px;
	 line-height:30px;
	 color:#333;
	 padding-top:5px;
	 margin:0;
	 border:none
}
.box_number .ul li {
	float:left;
	width:120px;
	 height:30px;
	 line-height:30px;
	 color:#333;
	 padding:0;
	 margin:0;
}
.box_number .ul li em{
	font-style:normal;
}
.box_number .ul li img{
	line-height:30px;
	vertical-align:text-top; padding:0 5px;
}

/* 佛祖列表 */

.list_buddha{}
.list_buddha>li{ width:154px;}
.list_buddha>li>a>img{
	position:relative;
}
.list_buddha a{ color:#333;}
.list_buddha .btn_bai,.list_buddha .btn_qing{
	width: 80px;
	height:26px;
	color:#5abbf4;
	background-color: #fff;
	border-radius:5px;
	text-align:center;
	border:1px solid #5abbf4;
	padding:3px 15px;
	margin:10px 5px;
}
.list_buddha>li>a .buddha_name{
	margin-top:-0px;
	height:25px;
	line-height:25px;
	color:#333;
	z-index:1000;
}
.list_buddha>li .box_btn{
	height:35px;
	line-height:35px;
}



